In [28]:
import pandas as pd
df=pd.read_csv(r"C:\Users\CompuFast\OneDrive\Desktop\TMDB_movie_dataset_v11.csv",header=0)
df.head()

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."

In [29]:
df.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [30]:
df.describe()

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06,1.058675e+06
mean,6.956178e+05,2.002076e+00,2.025814e+01,7.157280e+05,4.944329e+01,2.805240e+05,1.293365e+00
std,3.723586e+05,3.072888e+00,3.299876e+02,1.799855e+07,6.205908e+01,5.057937e+06,7.857289e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,3.876335e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,6.974230e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.700000e+01,0.000000e+00,6.000000e-01
75%,1.022196e+06,5.000000e+00,1.000000e+00,0.000000e+00,9.000000e+01,0.000000e+00,8.870000e-01
max,1.311309e+06,1.000000e+01,3.449500e+04,3.000000e+09,1.440000e+04,9.000000e+08,2.994357e+03

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1058675 entries, 0 to 1058674
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1058675 non-null  int64
 1   title                 1058663 non-null  object
 2   vote_average          1058675 non-null  float64
 3   vote_count            1058675 non-null  int64
 4   status                1058675 non-null  object
 5   release_date          915240 non-null   object
 6   revenue               1058675 non-null  int64
 7   runtime               1058675 non-null  int64
 8   adult                 1058675 non-null  bool
 9   backdrop_path         290852 non-null   object
 10  budget                1058675 non-null  int64
 11  homepage              114186 non-null   object
 12  imdb_id               585588 non-null   object
 13  original_language     1058675 non-null  object
 14  original_title        1058663 non-null  object
 15  overview              860577 non-null   object
 16  popularity            1058675 non-null  float64
 17  poster_path           748492 non-null   object
 18  tagline               150995 non-null   object
 19  genres                654389 non-null   object
 20  production_companies  492629 non-null   object
 21  production_countries  611915 non-null   object
 22  spoken_languages      626820 non-null   object
 23  keywords              298231 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 186.8+ MB

In [5]:
print("null values before : ",df.isnull().sum())

null values before :  id                           0
title                       12
vote_average                 0
vote_count                   0
status                       0
release_date            143435
revenue                      0
runtime                      0
adult                        0
backdrop_path           767823
budget                       0
homepage                944489
imdb_id                 473087
original_language            0
original_title              12
overview                198098
popularity                   0
poster_path             310183
tagline                 907680
genres                  404286
production_companies    566046
production_countries    446760
spoken_languages        431855
keywords                760444
dtype: int64

# data cleaning

In [6]:
# Assuming df is your DataFrame

# Drop the 'id' column
df.drop(df.columns[0], axis=1, inplace=True)

# Fill missing values in selected columns with 'unknown'
df.fillna({
    'title': 'unknown',
    'genres': 'unknown',
    'production_companies': 'unknown',
    'production_countries': 'unknown',
    'keywords': 'unknown',
    'overview':'unknown',
    'tagline':'unknown',
    'poster_path':'unknown'
}, inplace=True)

# Drop specified columns
df.drop(['backdrop_path', 'homepage','imdb_id','original_title'], axis=1, inplace=True)

# Fill missing values in 'spoken_languages' with its mode
df['spoken_languages'].fillna(df['spoken_languages'].mode()[0], inplace=True)

In [7]:
df.dropna(subset=["release_date"],inplace=True)

In [8]:
print("null values after filling cleaning : ",df.isnull().sum())

null values after filling cleaning :  title                   0
vote_average            0
vote_count              0
status                  0
release_date            0
revenue                 0
runtime                 0
adult                   0
budget                  0
original_language       0
overview                0
popularity              0
poster_path             0
genres                  0
production_companies    0
production_countries    0
spoken_languages        0
keywords                0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 915240 entries, 0 to 1058673
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   title                 915240 non-null  object
 1   vote_average          915240 non-null  float64
 2   vote_count            915240 non-null  int64
 3   status                915240 non-null  object
 4   release_date          915240 non-null  object
 5   revenue               915240 non-null  int64
 6   runtime               915240 non-null  int64
 7   adult                 915240 non-null  bool
 8   budget                915240 non-null  int64
 9   original_language     915240 non-null  object
 10  overview              915240 non-null  object
 11  popularity            915240 non-null  float64
 12  poster_path           915240 non-null  object
 13  genres                915240 non-null  object
 14  production_companies  915240 non-null  object
 15  production_countries  915240 non-null  object
 16  spoken_languages      915240 non-null  object
 17  keywords              915240 non-null  object
dtypes: bool(1), float64(2), int64(4), object(11)
memory usage: 126.6+ MB

In [10]:
df.head(10)

,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,budget,original_language,overview,popularity,poster_path,genres,production_companies,production_countries,spoken_languages,keywords
0,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,160000000,en,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,165000000,en,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,185000000,en,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,237000000,en,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,220000000,en,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
5,Deadpool,7.606,28894,Released,2016-02-09,783100000,108,False,58000000,en,The origin story of former Special Forces oper...,72.735,/zq8Cl3PNIDGU3iWNRoc5nEZ6pCe.jpg,"Action, Adventure, Comedy","20th Century Fox, The Donners' Company, Genre ...",United States of America,English,"superhero, anti hero, mercenary, based on comi..."
6,Avengers: Infinity War,8.255,27713,Released,2018-04-25,2052415039,149,False,300000000,en,As the Avengers and their allies have continue...,154.340,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,"Adventure, Action, Science Fiction",Marvel Studios,United States of America,"English, Xhosa","sacrifice, magic, superhero, based on comic, s..."
7,Fight Club,8.438,27238,Released,1999-10-15,100853753,139,False,63000000,en,A ticking-time-bomb insomniac and a slippery s...,69.498,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,Drama,"Regency Enterprises, Fox 2000 Pictures, Taurus...",United States of America,English,"dual identity, rage and hate, based on novel o..."
8,Guardians of the Galaxy,7.906,26638,Released,2014-07-30,772776600,121,False,170000000,en,"Light years from Earth, 26 years after being a...",33.255,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,"Action, Science Fiction, Adventure",Marvel Studios,United States of America,English,"spacecraft, based on comic, space, orphan, adv..."
9,Pulp Fiction,8.488,25893,Released,1994-09-10,213900000,154,False,8500000,en,"A burger-loving hit man, his philosophical par...",74.862,/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,"Thriller, Crime","Miramax, A Band Apart, Jersey Films",United States of America,"English, Spanish, French","drug dealer, boxer, massage, stolen money, bri..."

In [11]:
print("number of duplicates before :",df.duplicated().sum() )
df.drop_duplicates(inplace = True)
print("number of duplicates after : ",df.duplicated().sum())

number of duplicates before : 170
number of duplicates after :  0

# feature engineering and encoding
## Extracting additional features from the initial one(release_year)

In [12]:
 df['release_date'] = pd.to_datetime(df['release_date'])
df['release_year'] = df['release_date'].dt.year.astype(int)
df['release_month'] = df['release_date'].dt.month.astype(int)
df['release_day'] = df['release_date'].dt.day.astype(int)
df.drop('release_date', axis=1, inplace=True)

In [13]:
df_encoded=df.copy()

## dropping unnecessary columns

In [14]:
df_encoded.drop(['release_month','release_day','keywords','overview','spoken_languages','poster_path','tagline'],axis = 1 ,inplace = True)

## splitting the genre column ( because it has comma separated values) and then encoding them

In [15]:
print(df_encoded['genres'])

0                   Action, Science Fiction, Adventure
1                    Adventure, Drama, Science Fiction
2                       Drama, Action, Crime, Thriller
3          Action, Adventure, Fantasy, Science Fiction
4                   Science Fiction, Action, Adventure
                              ...
1058667                                          Drama
1058668                                    Documentary
1058669                                        unknown
1058671                                    Documentary
1058673                                        unknown
Name: genres, Length: 915070, dtype: object

In [16]:
df_encoded['genres'] = df_encoded['genres'].str.split(', ')
unique_genres = set(genre for sublist in df_encoded['genres'] for genre in sublist)

# Step 3: Create binary columns for each genre
for genre in unique_genres:
    df_encoded[genre] = df_encoded['genres'].apply(lambda x: 1 if genre in x else 0)

# Drop the original genres column
df_encoded.drop('genres', axis=1, inplace=True)

### encoding the adult column with 1 and 0

In [17]:
df_encoded['adult'] = df_encoded['adult'].astype(int)
df_encoded['adult'].value_counts() #true 1 // false = 0

adult
0    825843
1     89227
Name: count, dtype: int64

## encoding the status

In [18]:
 status_mapping = {
    'Planned': 1,
    'In Production': 2,
    'Post Production': 3,
    'Released': 4,
    'Rumored': 5,
    'Canceled': 6
}

# Apply the mapping to create a new encoded column
df_encoded['status'] = df_encoded['status'].map(status_mapping)

# frequency encoding the original language column

In [19]:
# Calculate frequency of each language
language_counts = df_encoded['original_language'].value_counts(normalize=True)

# Map frequencies to create a new encoded column
df_encoded['original_language'] = df_encoded['original_language'].map(language_counts)

## Target encoding the title column

In [20]:
 # Calculate mean vote_average for each title
title_means = df_encoded.groupby('title')['vote_average'].mean()

# Map means to create a new encoded column
df_encoded['title'] = df_encoded['title'].map(title_means)
 
df_encoded['title']

0          8.364
1          8.417
2          8.512
3          5.154
4          7.363
           ...
1058667    0.000
1058668    0.000
1058669    0.000
1058671    0.000
1058673    0.000
Name: title, Length: 915070, dtype: float64

## encoding the production countries and comapanies

In [21]:
 # Calculate mean vote_average for each title
prod_comp_means = df_encoded.groupby('production_companies')['revenue'].mean()

# Map means to create a new encoded column
df_encoded['production_companies'] = df_encoded['production_companies'].map(prod_comp_means)

In [22]:
prod_cont_means = df_encoded.groupby('production_countries')['revenue'].mean()

# Map means to create a new encoded column
df_encoded['production_countries'] = df_encoded['production_countries'].map(prod_cont_means)

# splitting my data into features and target variables

In [23]:
from sklearn.model_selection import train_test_split

features = df_encoded.drop(['title'],axis = 'columns')
target=df_encoded['title']

# scaling the encoded data

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

scaler = StandardScaler()

df_encoded_scaled=scaler.fit_transform(features)

# The beginnning of my model ( KNN using cosine similarity )

In [25]:
from sklearn.neighbors import NearestNeighbors

knn = NearestNeighbors(metric='cosine', algorithm='brute')

knn.fit(df_encoded_scaled)

NearestNeighbors(algorithm='brute', metric='cosine')

In [45]:
from IPython.display import Image, display

base_url = "https://image.tmdb.org/t/p/original"
df['poster_path'] = base_url + df['poster_path']

def knn_recommendation(movie_title, k=15):
    # Find the index of the movie in the original DataFrame based on its title
    movie_index_original = df[df['title'] == movie_title].index
    
    if len(movie_index_original) == 0:
        print(f"Movie '{movie_title}' not found in the DataFrame.")
        return []  # Return an empty list if the movie title is not found in the DataFrame
    
    # Get the index of the movie in the original DataFrame
    original_movie_index = movie_index_original[0]
    
    # Find the corresponding index in the scaled feature matrix (df_encoded_scaled)
    movie_features = df_encoded_scaled[original_movie_index].reshape(1, -1)
    
    # Use KNN to find k nearest neighbors based on item-item similarity
    distances, indices = knn.kneighbors(movie_features, n_neighbors=k + 1)  # +1 to exclude itself
    
    # Extract indices of recommended movies (excluding the queried movie itself)
    indices = indices.flatten()[1:]  # Exclude the first index, which is the movie itself
    
    # Retrieve recommended movie titles, overviews, and poster paths using the indices from df
    recommended_movies = df.iloc[indices][['title', 'overview', 'poster_path', 'tagline']]
    
    # Convert to a list of tuples (title, overview, poster_path)
    recommended_movies_list = list(recommended_movies.itertuples(index=False, name=None))
    
    return recommended_movies_list[:k]

def display_movie_details(movie_title, recommendations):
    # Display the input movie's details
    input_movie = df[df['title'] == movie_title].iloc[0]
    print(f"Input Movie: {movie_title}\nOverview: {input_movie['overview']}\n\nTagline: {input_movie['tagline']}")
    display(Image(url=input_movie['poster_path'], width=200))
    
    # Display recommended movies
    print("\nRecommended Movies:\n")
    for title, overview, poster_path, tagline in recommendations:
        print(f"Title: {title}\nOverview: {overview}\nTagline: {tagline}")
        display(Image(url=poster_path, width=200))
        print("\n")

# Example usage
input_movie_title = "Insidious"
recommendations = knn_recommendation(input_movie_title)
display_movie_details(input_movie_title, recommendations)

Input Movie: Insidious
Overview: A family discovers that dark spirits have invaded their home after their son inexplicably falls into an endless sleep. When they reach out to a professional for help, they learn things are a lot more personal than they thought.

Tagline: It's not the House that's Haunted.

Recommended Movies:

Title: The Purge: Anarchy
Overview: One night per year, the government sanctions a 12-hour period in which citizens can commit any crime they wish -- including murder -- without fear of punishment or imprisonment. Leo, a sergeant who lost his son, plans a vigilante mission of revenge during the mayhem. However, instead of a death-dealing avenger, he becomes the unexpected protector of four innocent strangers who desperately need his help if they are to survive the night.
Tagline: Welcome to America where one night a year all crime is legal

Title: Halloween
Overview: Fifteen years after murdering his sister on Halloween Night 1963, Michael Myers escapes from a mental hospital and returns to the small town of Haddonfield, Illinois to kill again.
Tagline: The Night He Came Home!

Title: Don't Breathe
Overview: A group of teens break into a blind man's home thinking they'll get away with the perfect crime. They're wrong.
Tagline: In the dark the blind man is king.

Title: Split
Overview: Though Kevin has evidenced 23 personalities to his trusted psychiatrist, Dr. Fletcher, there remains one still submerged who is set to materialize and dominate all the others. Compelled to abduct three teenage girls led by the willful, observant Casey, Kevin reaches a war for survival among all of those contained within him â€” as well as everyone around him â€” as the walls between his compartments shatter apart.
Tagline: Kevin has 23 distinct personalities. The 24th is about to be unleashed.

Title: Ready or Not
Overview: A bride's wedding night takes a sinister turn when her eccentric new in-laws force her to take part in a terrifying game.
Tagline: In-laws will be the death of her.

Title: Get Out
Overview: Chris and his girlfriend Rose go upstate to visit her parents for the weekend. At first, Chris reads the family's overly accommodating behavior as nervous attempts to deal with their daughter's interracial relationship, but as the weekend progresses, a series of increasingly disturbing discoveries lead him to a truth that he never could have imagined.
Tagline: Just because you're invited, doesn't mean you're welcome.

Title: Black Swan
Overview: A journey through the psyche of a young ballerina whose starring role as the duplicitous swan queen turns out to be a part for which she becomes frighteningly perfect.
Tagline: nan

Title: The Purge
Overview: Given the country's overcrowded prisons, the U.S. government begins to allow 12-hour periods of time in which all illegal activity is legal. During one of these free-for-alls, a family must protect themselves from a home invasion.
Tagline: One night a year, all crime is legal.

Title: The Conjuring
Overview: Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence in their farmhouse. Forced to confront a powerful entity, the Warrens find themselves caught in the most terrifying case of their lives.
Tagline: Based on the true case files of the Warrens

Title: Taken
Overview: While vacationing with a friend in Paris, an American girl is kidnapped by a gang of human traffickers intent on selling her into forced prostitution. Working against the clock, her ex-spy father must pull out all the stops to save her. But with his best years possibly behind him, the job may be more than he can handle.
Tagline: They took his daughter.  He'll take their lives.

Title: Die Hard
Overview: NYPD cop John McClane's plan to reconcile with his estranged wife is thrown for a serious loop when, minutes after he arrives at her office, the entire building is overtaken by a group of terrorists. With little help from the LAPD, wisecracking McClane sets out to single-handedly rescue the hostages and bring the bad guys down.
Tagline: Twelve terrorists. One cop. The odds are against John McClane... That's just the way he likes it.

Title: No Country for Old Men
Overview: Llewelyn Moss stumbles upon dead bodies, $2 million and a hoard of heroin in a Texas desert, but methodical killer Anton Chigurh comes looking for it, with local sheriff Ed Tom Bell hot on his trail. The roles of prey and predator blur as the violent pursuit of money and justice collide.
Tagline: There are no clean getaways.

Title: 10 Cloverfield Lane
Overview: After getting in a car accident, a woman is held in a shelter with two men, who claim the outside world is affected by a widespread chemical attack.
Tagline: Monsters come in many forms.

Title: Evil Dead
Overview: Five young friends find the mysterious and fiercely powerful Book of the Dead, and unable to resist its temptation, release a violent demon on a bloodthirsty quest to possess them all.
Tagline: The most terrifying film you will ever experience.

Title: Truth or Dare
Overview: A harmless game of "Truth or Dare" among friends turns deadly when someoneâ€”or somethingâ€”begins to punish those who tell a lieâ€”or refuse the dare.
Tagline: First you play the game, then the game plays you.

# this is the part where i want to implement my second idea in this MRS which is the recommendation by genre

In [44]:
def recommend_top_movies_by_genre(genre, top_n=10):
    # Filter the DataFrame to include only movies from the specified genre
    filtered_df = df[df['genres'].str.contains(genre, case=False, na=False)].copy()
    
    # Normalize the features (optional but recommended)
    filtered_df.loc[:, 'normalized_popularity'] = (filtered_df['popularity'] - filtered_df['popularity'].min()) / (filtered_df['popularity'].max() - filtered_df['popularity'].min())
    filtered_df.loc[:, 'normalized_revenue'] = (filtered_df['revenue'] - filtered_df['revenue'].min()) / (filtered_df['revenue'].max() - filtered_df['revenue'].min())
    filtered_df.loc[:, 'normalized_vote_average'] = (filtered_df['vote_average'] - filtered_df['vote_average'].min()) / (filtered_df['vote_average'].max() - filtered_df['vote_average'].min())
    filtered_df.loc[:, 'normalized_vote_count'] = (filtered_df['vote_count'] - filtered_df['vote_count'].min()) / (filtered_df['vote_count'].max() - filtered_df['vote_count'].min())
    filtered_df.loc[:, 'normalized_budget'] = (filtered_df['budget'] - filtered_df['budget'].min()) / (filtered_df['budget'].max() - filtered_df['budget'].min())
    
    # Calculate a composite score (adjust weights as needed)
    filtered_df.loc[:, 'composite_score'] = (
        0.2 * filtered_df['normalized_popularity'] +
        0.2 * filtered_df['normalized_revenue'] +
        0.2 * filtered_df['normalized_vote_average'] +
        0.2 * filtered_df['normalized_vote_count'] +
        0.2 * filtered_df['normalized_budget']
    )
    
    # Sort movies by the composite score in descending order
    sorted_df = filtered_df.sort_values(by='composite_score', ascending=False)
    
    # Select the top N movies
    top_movies = sorted_df.head(top_n)
    
    # Retrieve movie details
    recommended_movies = top_movies[['title', 'overview', 'poster_path', 'tagline']]
    
    # Convert to list of tuples (title, overview, poster_path)
    recommended_movies_list = list(recommended_movies.itertuples(index=False, name=None))
    
    return recommended_movies_list

def display_genre_recommendations(genre, recommendations):
    print(f"Top Movies in Genre '{genre}':\n")
    for title, overview, poster_path, tagline in recommendations:
        print(f"Title: {title}\nOverview: {overview}\nTagline: {tagline}")
        display(Image(url=poster_path, width=200))
        print("\n")

# Example usage
input_genre = "Action"
genre_recommendations = recommend_top_movies_by_genre(input_genre, top_n=10)
display_genre_recommendations(input_genre, genre_recommendations)

Top Movies in Genre 'Action':

Title: Avengers: Endgame
Overview: After the devastating events of Avengers: Infinity War, the universe is in ruins due to the efforts of the Mad Titan, Thanos. With the help of remaining allies, the Avengers must assemble once more in order to undo Thanos' actions and restore order to the universe once and for all, no matter what consequences may be in store.
Tagline: Avenge the fallen.

Title: Avatar
Overview: In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.
Tagline: Enter the world of Pandora.

Title: Avengers: Infinity War
Overview: As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.
Tagline: An entire universe. Once and for all.

Title: Avatar: The Way of Water
Overview: Set more than a decade after the events of the first film, learn the story of the Sully family (Jake, Neytiri, and their kids), the trouble that follows them, the lengths they go to keep each other safe, the battles they fight to stay alive, and the tragedies they endure.
Tagline: Return to Pandora.

Title: The Avengers
Overview: When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!
Tagline: Some assembly required.

Title: Avengers: Age of Ultron
Overview: When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earthâ€™s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.
Tagline: A new age has come.

Title: The Dark Knight
Overview: Batman raises the stakes in his war on crime. With the help of Lt. Jim Gordon and District Attorney Harvey Dent, Batman sets out to dismantle the remaining criminal organizations that plague the streets. The partnership proves to be effective, but they soon find themselves prey to a reign of chaos unleashed by a rising criminal mastermind known to the terrified citizens of Gotham as the Joker.
Tagline: Welcome to a world without rules.

Title: Inception
Overview: Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: "inception", the implantation of another person's idea into a target's subconscious.
Tagline: Your mind is the scene of the crime.

Title: Star Wars: The Force Awakens
Overview: Thirty years after defeating the Galactic Empire, Han Solo and his allies face a new threat from the evil Kylo Ren and his army of Stormtroopers.
Tagline: Every generation has a story.

Title: Spider-Man: No Way Home
Overview: Peter Parker is unmasked and no longer able to separate his normal life from the high-stakes of being a super-hero. When he asks for help from Doctor Strange the stakes become even more dangerous, forcing him to discover what it truly means to be Spider-Man.
Tagline: The Multiverse unleashed.

In [46]:
!pip install flask flask-cors

Requirement already satisfied: flask in c:\users\compufast\anaconda3\lib\site-packages (2.2.5)
Collecting flask-cors
  Downloading Flask_Cors-4.0.1-py2.py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (2.2.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (3.1.3)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: click>=8.0 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: colorama in c:\users\compufast\anaconda3\lib\site-packages (from click>=8.0->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\compufast\anaconda3\lib\site-packages (from Jinja2>=3.0->flask) (2.1.3)
Downloading Flask_Cors-4.0.1-py2.py3-none-any.whl (14 kB)
Installing collected packages: flask-cors
Successfully installed flask-cors-4.0.1

In [47]:
# Install Flask and Flask-CORS if not already installed
!pip install flask flask-cors

Requirement already satisfied: flask in c:\users\compufast\anaconda3\lib\site-packages (2.2.5)
Requirement already satisfied: flask-cors in c:\users\compufast\anaconda3\lib\site-packages (4.0.1)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (2.2.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (3.1.3)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: click>=8.0 in c:\users\compufast\anaconda3\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: colorama in c:\users\compufast\anaconda3\lib\site-packages (from click>=8.0->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\compufast\anaconda3\lib\site-packages (from Jinja2>=3.0->flask) (2.1.3)

In [48]:
from flask import Flask, request, jsonify
from flask_cors import CORS
from threading import Thread

app = Flask(__name__)
CORS(app)  # Enable CORS for all routes

@app.route('/recommendations', methods=['GET'])
def recommendations():
    movie_title = request.args.get('title')
    if not movie_title:
        return jsonify({'error': 'No title provided'}), 400

    # Call your recommendation function here
    recommended_movies = knn_recommendation(movie_title)
    return jsonify(recommended_movies)

def knn_recommendation(movie_title, k=15):
    # Example implementation of recommendation logic
    recommended_movies_list = [
        {
            'title': 'Movie Title 1',
            'overview': 'Overview of Movie Title 1',
            'poster_path': 'https://image.tmdb.org/t/p/original/path_to_poster_1.jpg',
            'tagline': 'Tagline of Movie Title 1'
        },
        # Add more movies as needed
    ]
    return recommended_movies_list[:k]

def run_app():
    app.run(port=5000, debug=True)

# Run Flask app in a separate thread
thread = Thread(target=run_app)
thread.start()

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
Exception in thread Thread-9 (run_app):
Traceback (most recent call last):
  File "C:\Users\CompuFast\anaconda3\Lib\threading.py", line 1045, in _bootstrap_inner
    self.run()
  File "C:\Users\CompuFast\anaconda3\Lib\threading.py", line 982, in run
    self._target(*self._args, **self._kwargs)
  File "C:\Users\CompuFast\AppData\Local\Temp\ipykernel_14824\468153211.py", line 32, in run_app
  File "C:\Users\CompuFast\anaconda3\Lib\site-packages\flask\app.py", line 1191, in run
    run_simple(t.cast(str, host), port, self, **options)
  File "C:\Users\CompuFast\anaconda3\Lib\site-packages\werkzeug\serving.py", line 1059, in run_simple
    run_with_reloader(
  File "C:\Users\CompuFast\anaconda3\Lib\site-packages\werkzeug\_reloader.py", line 427, in run_with_reloader
    signal.signal(signal.SIGTERM, lambda *args: sys.exit(0))
  File "C:\Users\CompuFast\anaconda3\Lib\signal.py", line 56, in signal
    handler = _signal.signal(_enum_to_int(signalnum), _enum_to_int(handler))
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
ValueError: signal only works in main thread of the main interpreter